#background-image02 {
    height: 100%;
    background-image: url(../../image/Background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20% 0;
}